name: Manual Game Version Update Dispatch

on:
  workflow_dispatch:

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Dispatch Game Update
        uses: ./.github/actions/dispatch-game-update
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
