name: Sync

on:
  schedule:
    - cron: "0 */3 * * *"
  workflow_dispatch:

env:
  # Disable the .NET logo in the console output.
  DOTNET_NOLOGO: true
  # Disable the .NET first time experience to skip caching NuGet packages and speed up the build.
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  # Disable sending .NET CLI telemetry to Microsoft.
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup .NET 9
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            9.x.x

      - name: Setup BUTR GPR
        uses: actions/setup-dotnet@v5
        with:
          source-url: https://nuget.pkg.github.com/BUTR/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Build DotNetTools
        run: dotnet build src/DotNetTools/DotNetTools.csproj
        shell: pwsh

      - name: Run DotNetTools check-news
        id: date_checker
        run: >-
           $date = dotnet run --project src/DotNetTools/DotNetTools.csproj --no-build --no-launch-profile -- check-news --appId 261550 --count 10;
           echo "date=$date" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{secrets.GH_TOKEN_EXTENDED}}
        continue-on-error: true
        shell: pwsh
        
      - name: Run DotNetTools get-branches
        id: branches
        run: >-
          if ('${{ steps.date_checker.outputs.date }}' -ne '0') {
            $output_v = dotnet run --project src/DotNetTools/DotNetTools.csproj --no-build --no-launch-profile -- get-latest-version --steamLogin ${{secrets.STEAM_LOGIN}} --steamPassword ${{secrets.STEAM_PASSWORD}} --steamAppId 261550 --steamDepotId 261551 --steamDepotId 261552 --steamOS windows --steamOSArch 64;
            echo "json=$output_v" >> $env:GITHUB_OUTPUT
          } else {
            echo "json={}" >> $env:GITHUB_OUTPUT
          }
        env:
          GITHUB_TOKEN: ${{secrets.GH_TOKEN_EXTENDED}}
        shell: pwsh

      - name: Test
        run: >-
          echo "${{steps.branches.outputs.json}}"
        shell: pwsh
        
      - name: Sync STABLE/BETA
        if: ${{steps.date_checker.outputs.date != '0' && steps.branches.outputs.json != '{}'}}
        uses: BUTR/secrets-sync-action@v1.7.1
        with:
          secrets: |
            ^SYNCED_
          repositories: |
            ^BUTR
          github_token: ${{secrets.REPO_ACCESS_TOKEN}}
        env:
          SYNCED_GAME_STABLE_VERSION: ${{fromJson(steps.branches.outputs.json).stable}}
          SYNCED_GAME_BETA_VERSION: ${{fromJson(steps.branches.outputs.json).beta}}

      # Trigger Bannerlord.ReferenceAssemblies first so the NuGet packages are built
      - name: Dispatch
        if: ${{steps.date_checker.outputs.date != '0' && steps.branches.outputs.json != '{}'}}
        uses: guilouro/multiple-repositories-dispatch@master
        with:
          repo_token: ${{secrets.REPO_ACCESS_TOKEN}}
          repositories: |
            BUTR/Bannerlord.ReferenceAssemblies
          event_type: game_version_update
          client_payload: '{"github": ${{ toJson(github) }}}'

      - name: Sleep for 15 minutes
        if: ${{steps.date_checker.outputs.date != '0' && steps.branches.outputs.json != '{}'}}
        run: Start-Sleep -s 900
        shell: powershell

      # Trigger projects that depend on the NuGet packages
      - name: Dispatch
        if: ${{steps.date_checker.outputs.date != '0' && steps.branches.outputs.json != '{}'}}
        uses: guilouro/multiple-repositories-dispatch@v1.0.2
        with:
          repo_token: ${{secrets.REPO_ACCESS_TOKEN}}
          repositories: |
            BUTR/Bannerlord.ReferenceAssemblies.Documentation
            BUTR/Bannerlord.Harmony
            BUTR/Bannerlord.UIExtenderEx
            BUTR/Bannerlord.ButterLib
            Aragas/Bannerlord.MBOptionScreen
            BUTR/Bannerlord.BLSE
            BUTR/Bannerlord.BUTRLoader
            BUTR/Bannerlord.BUTR.Shared
            BUTR/Bannerlord.Python
            BUTR/Bannerlord.PHP
            BUTR/Bannerlord.DiscordRichPresence
            BUTR/Bannerlord.PlayerSwitcher
            BUTR/Bannerlord.YellToInspire
            BUTR/Bannerlord.Game.Diff
          event_type: game_version_update
          client_payload: '{"github": ${{ toJson(github) }}}'
